In [16]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer

In [2]:
data = pd.read_csv('dataset.csv')

In [3]:
data.head()

,id,title,genre,original_language,overview,popularity,release_date,vote_average,vote_count
0,278,The Shawshank Redemption,"Drama,Crime",en,Framed in the 1940s for the double murder of h...,94.075,1994-09-23,8.7,21862
1,19404,Dilwale Dulhania Le Jayenge,"Comedy,Drama,Romance",hi,"Raj is a rich, carefree, happy-go-lucky second...",25.408,1995-10-19,8.7,3731
2,238,The Godfather,"Drama,Crime",en,"Spanning the years 1945 to 1955, a chronicle o...",90.585,1972-03-14,8.7,16280
3,424,Schindler's List,"Drama,History,War",en,The true story of how businessman Oskar Schind...,44.761,1993-12-15,8.6,12959
4,240,The Godfather: Part II,"Drama,Crime",en,In the continuing saga of the Corleone crime f...,57.749,1974-12-20,8.6,9811

In [6]:
data["pointers"] = data["genre"] + "," + data["overview"]

In [7]:
data.head()

,id,title,genre,original_language,overview,popularity,release_date,vote_average,vote_count,keys,pointers
0,278,The Shawshank Redemption,"Drama,Crime",en,Framed in the 1940s for the double murder of h...,94.075,1994-09-23,8.7,21862,"Drama,Crime,Framed in the 1940s for the double...","Drama,Crime,Framed in the 1940s for the double..."
1,19404,Dilwale Dulhania Le Jayenge,"Comedy,Drama,Romance",hi,"Raj is a rich, carefree, happy-go-lucky second...",25.408,1995-10-19,8.7,3731,"Comedy,Drama,Romance,Raj is a rich, carefree, ...","Comedy,Drama,Romance,Raj is a rich, carefree, ..."
2,238,The Godfather,"Drama,Crime",en,"Spanning the years 1945 to 1955, a chronicle o...",90.585,1972-03-14,8.7,16280,"Drama,Crime,Spanning the years 1945 to 1955, a...","Drama,Crime,Spanning the years 1945 to 1955, a..."
3,424,Schindler's List,"Drama,History,War",en,The true story of how businessman Oskar Schind...,44.761,1993-12-15,8.6,12959,"Drama,History,War,The true story of how busine...","Drama,History,War,The true story of how busine..."
4,240,The Godfather: Part II,"Drama,Crime",en,In the continuing saga of the Corleone crime f...,57.749,1974-12-20,8.6,9811,"Drama,Crime,In the continuing saga of the Corl...","Drama,Crime,In the continuing saga of the Corl..."

In [10]:
new_data = data[['id', 'title', 'pointers']]

In [11]:
new_data.head()

,id,title,pointers
0,278,The Shawshank Redemption,"Drama,Crime,Framed in the 1940s for the double..."
1,19404,Dilwale Dulhania Le Jayenge,"Comedy,Drama,Romance,Raj is a rich, carefree, ..."
2,238,The Godfather,"Drama,Crime,Spanning the years 1945 to 1955, a..."
3,424,Schindler's List,"Drama,History,War,The true story of how busine..."
4,240,The Godfather: Part II,"Drama,Crime,In the continuing saga of the Corl..."